<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">E-Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link mt-10"  [routerLink]="['/productpage']" >Home </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link mt-10"   [routerLink]="['/aboutus']" >About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contactus']">Contact Us</a>
          </li>
         
          <li class="nav-item-">
              <a class="nav-link"   [routerLink]="['/addproduct']">addproduct</a>
            </li>

            <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search Products">

            <button routerLink="addtocart"  class="btn btn-primary my-2 my-sm-0" style="background-color: darkslategrey">
              <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
  
              <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
          </button>
  
        </ul>
      </div>

      
    </nav>



