


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="box " style="padding: 0 70px; display: flex; " >
    
        <div class="navbar navbar-light  my-nav">
          <div class="navbar-brand ">
              <strong routerLink="home" class="logo" >E-SHOP</strong>
              
              
          </div>
    
          <button [routerLink]="['/productpage']" class="btn cart-btn">
            Home
          </button>
    
          <button [routerLink]="['/aboutus']" class="btn cart-btn">
            About Us
          </button>
    
          <button [routerLink]="['/contactus']" class="btn cart-btn">
            Contact Us
          </button>
    
          <button routerLink="add-product" [routerLink]="['/addproduct']" class="btn cart-btn">Add Products</button>
    
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)"  
            placeholder="search products">
            <span style="position: absolute; right: 2%; top: 35%;" class="fas fa-search search-icon"></span>
        </div>
          
          
    
      </div>
    </div>
    <button style="position: absolute; right: 5%;"  routerLink="addtocart" class="btn cart-btn">
      <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
  </button>
    </nav>
