<footer>
    <div class="main-content">
        <div class="left box" id="aboutus">
            <h2>About Us</h2>
            <div class="content">
                <p>Eshop is a Ecommerce Website <br/>where you can purchase products.</p>
                <div class="social">
                    <a href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>
                    <a href="#">
                        <span class="fab fa-instagram"></span>
                    </a>
                    <a href="#">
                        <span class="fab fa-youtube"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span>Mahape,MBP</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span>+91-8990456734</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span>eshop.bgroup@exp.com</span>
                </div>
            </div>
        </div>
        <div class="right box" id="contactus">
            <h2 class="boxcontact">
                <a routerLink="/contactus">Contact Us</a>
            </h2>
            
        </div>
    </div>
    <div class="bottom">
       <div class="bc">
            <span class="credit">Created By <a href="#">Coding Group-B</a> | </span>
            <span class="far fa-copyright"></span>
            <span> 2023 All rights reserved.</span>

       </div>
    </div>
</footer>
