<div class="container aboutus">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis omnis quae optio corporis iusto sit saepe, eum reprehenderit cum odit dolorum molestias adipisci impedit ipsa doloribus hic non iure quod, quis vitae aliquam possimus officia. Dolorem consequuntur inventore nostrum enim perspiciatis quas qui? Veniam nostrum modi et eum cupiditate omnis?</p>
    <br>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dignissimos a expedita, impedit harum quo ipsum dicta adipisci beatae deserunt quisquam. Sint quaerat similique minus voluptate veniam odio illo quos, ex labore, nihil numquam. Possimus alias voluptatum earum est sint.</span>
</div>
