<div class="aboutus-container" >
	<div class="container">
		<section class="content">
			<div class="details">
				<p class="text-small" style="font-size: 1.6rem; margin-top: 2rem;">This is E-Shop.</p>

				<p class="text-big" style="margin: 20px; color: #3e2093;margin-top: 50px;">Here, We Believe We Can Make A Difference</p>

				<div class="ourway"style="padding-bottom: 100px;">
					<p class="text-small" style="font-weight: bold; margin-bottom: 10px; color: #3e2093;">Our Way</p>
					<p>Exceptional Quality</p>
					<p>Ethical Factories</p>
					<p>Radical Transprency</p>
				</div>
				<br />
			</div>
		</section>


		<section class="bottom-section">
			<div class="wrapper-left" style="margin-top: 50px;">
				<span class="textbox">
					<h2>Our Factories</h2>
					<h1>Our Ethical Approach</h1>
					<p class="card-text">We spend months finding the best factories around the world- the same ones
						that produce your favorite designer labels.</p>
				</span>
				<img class="images" src="../../assets/aboutUs1.jpg" alt="Happy_Factory_Worker" height="200px"
					width="200px">
			</div>

			<div class="wrapper-right">

				<img src="../../assets/aboutUs2.jpg" alt="Image depicting Quality" height="200px"
				width="200px">
				<div class="textbox">
					<h2>Our Quality</h2>
					<h1>Designed to last</h1>
					<p class="card-text">At EShop, we're not big on trends. We want you to wear our pieces for
						years,even decades, to come. That's why we source the finest materials and factories for our
						timeless
						products
					</p>
				</div>
			</div>


			<div class="wrapper-left">
				<div class="textbox">
					<h2>Our Prices</h2>
					<h1>Radically Transparent</h1>
					<p class="card-text">We reveal the true costs behind all of our products - from materials to labor
						to transportation - then offer them to you, minus the traditional retail markup.</p>
				</div>
				<img src="../../assets/aboutUs3.jpeg" alt="Image saying transaparency" height="200px"
				width="200px">

			</div>
		</section>
	</div>
</div>