<div class="wrapper">
    <div class="title">
      <h1>Dispute List</h1>
    </div>
<table style="width:100%">
    <tr>
      <th>Id</th>  
      <th>Order Number</th>
      <th>Product Detail</th>
      <th>Problem Type</th>
      <th>Descriptions</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let item of disputeList">
      <td>{{item.id}}</td>
      <td>{{item.orderno}}</td>
      <td>{{item.productdetails}}</td>
      <td>{{item.problemtype}}</td>
      <td>{{item.descriptions}}</td>
      <td>
        <!-- <button (click)="updateProblem(item)">Update</button> -->
        <button (click)="deleteProblem(item.id)">Delete</button>
      </td>
    </tr>
  </table>
</div>  