
<!-- CATEGORY FEATURE  -->
<div class="container " style="margin-bottom: 25px;" >
<div class="item_upper">
    <div class="item">
      <a (click)="filter('')">
          <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
          <h6>All Products</h6>
      </a>
    </div>

    <div class="item">
        <a (click)="filter('Mobile')">
            <img src="https://www.kindpng.com/picc/m/422-4225211_new-mobile-phone-png-transparent-cartoons-smart-phones.png" alt="">
            <h6>Mobile</h6>
        </a>
    </div>

    <div class="item">
        <a (click)="filter('Laptop')">
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
            <h6>Laptop</h6>
        </a>
    </div>

    <div class="item">
        <a (click)="filter('AC')">
            <img  src="https://www.kindpng.com/picc/m/296-2963364_transparent-air-conditioner-png-osaka-air-conditioner-png.png" alt="">
            <h6>Air Conditioner</h6>
        </a>
    </div>

</div>


    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter :searchKey: 'productName' ">
            <div class="card col-md-3">
               
                <img src="{{item.imageUrl}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch; color: blue;" >{{item.productName}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.productDescription | slice: 0:100}}</p>
                <p style="color: #B12704; ">₹ {{item.unitPrice}}</p>
                <p style="color: #032208; ">Category:{{item.prodcuctCategory}}</p>
                <p style="color: #021107; ">Sold By:{{item.Vendor}}</p>

               <br> <button class="btn btn-primary" (click)=addtocart(item) >Add to cart</button>

                
            </div>
        </ng-container>

    </div>
</div>

